.Share-Button {display:block;background:#25d366;max-width:80px;padding:8px 12px;color:#fff;font-weight:700;font-size:9px;text-align:center;text-transform:uppercase;letter-spacing:0.5px;margin:auto;border-radius:3px;transition:all .3s;}
</style
